:root {
  --offCanvasWidth: 15rem;  
  --buttonWidth: 1.8rem;
  --transitionDuration: 0.3s;
}

* {
  box-sizing: border-box;
}

.App {
  height: 100vh;
  width: 100vw;
}

.App[data-serie="0"] .gameBoard {
  background-color: #c9e9e6;
}

.App[data-serie="1"] .gameBoard {
  background-color: #53aee3;
}

.App[data-serie="2"] .gameBoard {
  background-color: #75c482;
}

.App[data-serie="3"] .gameBoard {
  background-color: #f8ef3c;
}

.App[data-serie="4"] .gameBoard {
  background-color: #ff9900;
}

.App[data-serie="5"] .gameBoard {
  background-color: #ef5e67;
}

.App[data-serie="6"] .gameBoard {
  background-color: #c05aa3;
}

.App[data-serie="7"] .gameBoard {
  background-color: #eaa3b3;
}

.offCanvas {
  position: absolute;
  left: 0;
  width: var(--offCanvasWidth);
  height: 100%;
  transform: translateX(calc(0px - var(--offCanvasWidth)));
  transition: transform var(--transitionDuration);
  padding: 1.5rem;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  user-select: none;
  transition: transform var(--transitionDuration);
}

.menuOpen .offCanvas {
  transform: translateX(0);  
}

.menuOpen .gameBoard {
  transform: translateX(var(--offCanvasWidth));  
}

.menuButton {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: var(--buttonWidth);
  height: var(--buttonWidth);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  appearance: none;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  z-index: 200;
  overflow: hidden;
}

.menuButtonBar {
  height: 0.3rem;
  width: var(--buttonWidth);
  background-color: teal;
  transition: all var(--transitionDuration);
  transform-origin: center center;
}

.middleBar {
  background-color: transparent;
  position: relative;
}

.middleBar * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all var(--transitionDuration);
  transform-origin: center center;    
  background-color: teal;  
}

.menuOpen .topBar {
  transform: translateY(-200%);
}

.menuOpen .middleBar1 {
  transform: rotate(-45deg);
}

.menuOpen .middleBar2 {
  transform: rotate(45deg);
}

.menuOpen .bottomBar {
  transform: translateY(200%);
}

.maxNumberLabel {
  text-transform: uppercase;
  font-weight: bold;
  color: teal;
}

.maxNumberInput {
  padding: 1rem;
  border: solid 2px teal
}

.numbers {
  position: relative;
  display: flex;
  height: 100vh;
  /*font-size: 50vw;*/
  align-items: center;
  text-align: right;
  /* flex-shrink: 0; */
  /* flex-grow: 1; */
  width: 30%;
  flex-direction: column-reverse;
}

.timer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  z-index: -1;
  transform-origin: left;
}

.currentNumber {
  font-size: 2em;
  background-color: red;
}

.wheel__container {
  width: 160vh;
  height: 160vh;
  position: absolute;
  top: 50%;
  margin-top: calc(160vh / 2* -1);
  left: calc(31vw);
}

.wheel__figure {
  width: 100%;
  height: 100%;
  background: url('../assets/wheel.svg') no-repeat center center;
  background-size: contain;
  transform: rotate(0deg);
  will-change: transform;
}

.wheel__figure--start-rotation {
  /* animation: wheelRotationStart 1s ease-in, wheelRotationStart 1s linear 1s, wheelRotationStart 1s ease-out 11s;
    animation-iteration-count: 1, 10, 1 */

  animation: wheelRotationStart 4s ease-in, wheelRotationStart 2s linear 4s,
    wheelRotationStart 4s ease-out 14s;
  animation-iteration-count: 1, 5, 1;
}

@keyframes wheelRotationStart {
  0% {
    transform: rotate(0deg);
  }

  /* 50% {
    transform: rotate(360deg);
  } */

  100% {
    transform: rotate(720deg);
  }
}
